body {
    background-color: #2A1B3D;
    color: white;
    font-family: sans-serif;
    margin: 0;
}

a {
    color: #D83F87;
    text-decoration: none;
}

nav ul {
    list-style: none;
    margin-top: 0;
}

nav ul li {
    display: inline;
    padding-left: 10px;
}

textarea {
    width: 600px;
	height: 120px;
	border: 3px solid #8265A7;
    padding: 5px;
}

@media only screen and (max-width: 600px) {
    textarea {
        width: 95%;
    }
}

#checkpoint + input {
    display: block;
    margin-top: 10px;
}

.flashes {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.flashes li {
    background-color: #8265A7;
    padding: 20px;
    margin-bottom: 5px;
    font-size: 14pt;
}

.content {
    padding: 15px;
}