<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkpoint</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    <nav>
        <ul>
            <li><a href="/">Back</a></li>
            <li><a href="/{{ checkpoint_id }}/delete">Delete</a></li>
        </ul>
    </nav>
    <div id="content">
        {{ content|safe }}
    </div>
</body>
</html>